/* Bonton fonctionnement couleur claire*/
@function changelight($clr, $light)
{
    $hue: hue($clr);
    $sat: saturation($clr);
    $lighten: hsl($hue, $sat, $light);
    @return $lighten;
}

/* "Nouveau" Texte couleur assombri */
@function changedark($clr, $light)
{
    $hue: hue($clr);
    $sat: saturation($clr);
    $darken: hsl($hue, $sat, $light);
    @return $darken;
}

