/* Flexbox*/
.fl_row_cent
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fl_row
{
    display: flex;
    flex-direction: row;
}

.fl_row_around
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fl_row_spbw
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fl_col_cent
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Flex wrap */
.fl-wrap
{
    display: flex;
    flex-wrap: wrap;
}

/* Border */
.no-bord-link
{
    text-decoration: none;
}

/* liste à puces */
.no-puce
{
    list-style-type: none;
}

// Background colors
.bg-light-grey
{
    background-color: #f6f6f6;
}

.bg-medium-grey{
    background-color: #eaeaea;
}

.bg-heavy-grey{
    background-color: #353535;
}

// Part margin
.part
{
    padding-top: 40px;
    padding-bottom: 50px;
}

.part-menu
{
    padding-bottom: 50px;
}
.part-ctn-menu
{
    padding-bottom: 20px;
}

.part-footer
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.part_title
{
    margin-left: 21px;
}

.part_title_menu
{
    margin-left: 21px;
    margin-bottom: 5px;
}

.low-marg-h {
    margin-top: 10px;
    margin-bottom: 3px;
    
}

.low-marg-p {
    margin-top: 3px;
    margin-bottom: 15px;
}


// Positioning
.pos-rel
{
    position: relative;
}

.pos-abs
{
    position: absolute;
}
