/* Flexbox*/
.fl_row_cent{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fl_row
{
    display: flex;
    flex-direction: row;
}
.fl_row_spbw{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fl_col_cent
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
}

.img_box
{
    margin: 9px auto;
    display: flex;
    width: 335px;
    @include border-shadow($color_shadow);
    border-radius: 20px;
}

/*Dimension*/
.img_accueil
{
    height: 174px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.rest_figcaption
{
    padding: 0 12px;
}

/* Border */

.no-bord-link
{
    text-decoration: none;
}

/* liste à puces */
.no-puce
{
    list-style-type: none;
}

// Background colors
.bg-light-grey
{
    background-color: #eaeaea;
}

.bg-medium-grey
{
    background-color: #f6f6f6;
}

.bg-heavy-grey
{
    background-color: #353535;
}

// Part margin
.part
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.part_title
{
    margin-left: 21px;
}