/* Flexbox*/
// .fl
// {
//     display: flex;

//     &_row
//     {
//         flex-direction: row;

//         &_cent
//         {
//             justify-content: center;
//         }
        
        
//         &_around
//         {
//             justify-content: space-around;
//         }
        
//         &_spbw
//         {
//             justify-content: space-between;
//         }
    
//     }

//     &_col
//     {
//         flex-direction: column;
//         &_cent
//         {
//             justify-content: center;
//         }
//     }
        
//     &-wrap
//     {
//         flex-wrap: wrap;
//     }
    
// }


.fl_row
{
    display: flex;
    flex-direction: row;
    
}

.fl_row_cent{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.fl_row_around
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fl_row_spbw
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fl_col
{
    display: flex;
    flex-direction: column;
}

.fl_col_cent
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Flex wrap */
.fl-wrap
{
    display: flex;
    flex-wrap: wrap;
}

// Flex grow
.fl-grow
{
    flex: 1;
}

/* Border */
.no-bord-link
{
    text-decoration: none;
}

/* liste à puces */
.no-puce
{
    list-style-type: none;
}

// Part margin
.part
{
    padding-top: 40px;
    padding-bottom: 50px;
}

.part-menu
{
    padding-bottom: 50px;
}
.part-ctn-menu
{
    padding-bottom: 20px;
}

.part-footer
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.part_title
{
    margin-left: 21px;
}

.part_title_menu
{
    margin-bottom: 5px;
}

// Margins

.auto-marg {
    margin: auto;
}

.low-marg-h {
    margin-top: 10px;
    margin-bottom: 3px;
    
}

.low-marg-p {
    margin-top: 3px;
    margin-bottom: 15px;
}


// Positioning
.pos-rel
{
    position: relative;
}

.pos-abs
{
    position: absolute;
}

// Sizing

.width-min
{
    width: min-content;
}