/* Accueil */
.img_box
{
    margin: 9px auto;
    display: flex;
    width: 335px;
    border: 0px solid  $color_shadow;
    border-radius: 20px;
    @include border-shadow($color_shadow);
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
    &:hover{
        transform: scale(1.03);
   }
}


/*Dimension Accueil*/
.img_accueil
{
    height: 174px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.rest_figcaption
{
    padding: 0 12px;
}

/* Page menu */
.img_menu
{
    height: 230px;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: relative;
}
