/* Container */
.new-ctn
{
    background-color: $color_tertiaire;
    position: absolute;
    z-index : 1; 
    width: 79px;
    height: 29px;
    left: 243px;
    top: 13px;
    border-radius: 3px;
}

/* Icone Nouveau Accueil */
.new-ctn span {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cl-new-ctn
{
    color: changedark($color_tertiaire, 40%);
}

/* Page menu */
.ctn-menu
{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 1px solid transparent;
    margin-top: -40px;
}

.ctn-mini
{
    background-color: white;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    margin: 14px auto;
    display: flex;
    width: 320px;
    border: 1px solid  changelight_border($color_shadow, 95%);
    border-radius: 15px;
    cursor: pointer;
    &:hover{
        @include border-shadow($color_shadow);
    }
}

//soulignement titre page menu
.underline-menu
{
    border: 1px solid $color_tertiaire;
    width: 40px;
    z-index: 1;
}

/* PAGE MENU => Titres */
.menu-titre
{
    width: 380px;
    margin: auto;
}


/* Animation déroulement Page menu*/

// .ctn-anim{
//     voir pour aninamtion 
// }