/* HEADER */
.text_header{
    text-align: center;
}

.logo_header{
    width: 164px;
    height: 30px;
    margin-bottom: 30px;
    margin-top: 30px;   
}

/* Logo Page menu */
.logo-menu
{
    margin: auto;
}
    