/* Loading spinner */
.loading{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;    
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: spinner;
    animation-duration: 1000ms;
    opacity: 0;
    visibility: hidden;
}

.to-load {
    width: unset;
    height: unset;
    overflow: hidden;
    animation-name: loaded;
    animation-duration: 1000ms;
}


@keyframes spinner {
    0% {
        opacity: 1.0;
        visibility: visible;
    }
    99% {
        opacity: 1.0;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes loaded {
    0% {
        width: 0;
        height: 0;
    }
    99% {
        width: 0;
        height: 0;
    }
    100% {
        width: unset;
        height: unset;
    }
}



/* Animation déroulemement menu restaurant */

.anim-hidden
{
    width: unset;
    height: unset;
    overflow: hidden;
    animation-name: hid;
    animation-duration: 1000ms;
    &--1{
        width: unset;
        height: unset;
        overflow: hidden;
        animation-name: hid--1;
        animation-duration: 2000ms;
    }
    &--2{
        width: unset;
        height: unset;
        overflow: hidden;
        animation-name: hid--2;
        animation-duration: 3000ms;
    }
}

@keyframes hid {
    0%,50% {
        width: 0;
        height: 0;
    }
    50%,100% {
        width: 0;
        height: 0;
    }
    100% {
        width: unset;
        height: unset;
    }
}

@keyframes hid--1 {
    0%,50% {
        width: 0;
        height: 0;
    }
    50%,100% {
        width: 0;
        height: 0;
    }
    100% {
        width: unset;
        height: unset;
    }
}

@keyframes hid--2 {
    0%,50%{
        width: 0;
        height: 0;
    }
    50%,100% {
        width: 0;
        height: 0;
    }
    100% {
        width: unset;
        height: unset;
    }
}


/* Animation clic bouton */

@keyframes slideRight {
	from {right: -15%;}
	to {right: 0%;}
}

//<div class="anim-appear"><i class="fas fa-check-circle"></i></div>