/* Button */

//bouton explorer
.btn
{
    border: 0px;
   padding: 20px;
   border-radius: 30px;
   cursor: pointer;
}

.btn-color
{
    background: linear-gradient(to bottom, $color_secondaire, $color_primaire);
}

//boutons fonctionnement
.button_fonct
{
    display: flex;
    text-align: center;
    padding: 34px 0px 24px 34px;
    margin: 10px auto;
    width: 322px;
    height: 76px;
    @include border-shadow($color_shadow);
    border-radius: 20px;
    border: 0px $color_shadow;
    cursor: pointer;

    &:hover {
        background-color: changelight($color_primaire, 90%);
    }
}

.button_fonct_text
{
    margin-left: 24px;
}

.button_fonct:hover i
{
    color: $color_primaire;
}