@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

*
{
    font-family: Roboto;
}

.font-logo
{
    font-family: Shrikhand;
}

/* Font-size */
.font-size-text{
    font-size: 18px;
}
.font-menu{
    font-size: 13px;
}

// Colors
.cl-white
{
    color: white;
}
.cl-black
{
    color: black;
}

/* font-weight */
.font-heavy
{
    font-weight: 500;
}

.font-light
{
    font-weight: 300;
}

